.main{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    &-about{
        margin-top: 20px;
        img{
            width: 240px;
            height: 240px;
            
        }

        &-title{
            margin-top: 30px;

            h3{
                padding-bottom: 1px;
                font-weight: bolder;
            }
            h4{
                padding-bottom: 30px;
                font-weight: bolder;
            }
            button{
                width: 100%;
                height: 36px;
                border: 1px solid rgba(27, 31, 35, .2);
                background: none;
                background-color: #eff3f6;
                background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
                border-radius: 3px;
                font-weight: bolder;
                font-size: 15px;
            }
            
       }  

       &-dsc{
        margin-top: 16px;
        font-weight: 550;
       }
   }

   &-project{
    width: 100%;
    margin-top: 40px;
    margin-left: 40px;
        &-links{
            display: flex;
            justify-content: space-between;

            a{
                color: #586069;
                font-size: 14px;
            }
        }

        .section{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;

            a{
             font-size: 12px;  
             color: #586069; 
            }
        }

        .container{
            display: flex;
            flex-wrap: wrap;
        }
        &-bar{
            margin-top: 20px;
            margin-right: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            width: 425px;
            height: 100px;
            position: relative;

            .up{
                display: flex;
                
                .right{
                    svg{
                       position: absolute; 
                       right: 10px;
                    }
                }
            }

            .down{
                margin-top: 40px;
                margin-left: 20px;   
                display: flex; 
                align-items: center;      

                span{
                    background-color: #563d7c;
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    display: inline-block;
                }

                p{
                    font-size: 14px;
                    margin-left: 5 px;
                    font-weight: 550;
                }
            }
            
        }
   }
}